{% extends "bank.html.j2" %}
{% from "components/buttons.html.j2" import render_add_clue_button, render_back_button %}

{% block bank_form %}
  <form action="/bank/accounts" method="POST">
    {{ form.csrf_token }}
    <div class="input-group">
      {{ form.account_number.label }}
      {{ form.account_number(placeholder="Account Number", autocomplete="off", class="pixel-box") }}
      {% if form.account_number.errors %}
          <ul class="errors">
              {% for error in form.account_number.errors %}
                  <li>{{ error }}</li>
              {% endfor %}
          </ul>
      {% endif %}
    </div>
    <button class="pixel-box button-link" type="submit">Search</button>
  </form>
  {{render_back_button()}}
  {% if data != None %}
    {% if data|count > 0 %}
      <table>
        <thead>
          <tr>
            <th>Account</th>
            <th>Created</th>
            <th>Name</th>
            <th>Phone Number</th>
            <th>License Plate</th>
            <th>Passport Number</th>
          </tr>
        </thead>
        <tbody>
          {% for row in data %}
            <tr>
              <td>{{ row.account_number }}</td>
              <td>{{ row.creation_year }}</td>
              <td>{{ row.people.name }}</td>
              <td>{{ row.people.phone_number }}</td>
              <td>{{ row.people.license_plate }}</td>
              <td>{{ row.people.passport_number }}</td>
              <td>
                {{render_add_clue_button(
                  "people of interest",
                  "name: " ~ row.people.name ~ " | ph: " ~ row.people.phone_number ~ " | license plate: " ~ 
                    row.people.license_plate ~ " | passport: " ~ row.people.passport_number
                )}}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No results found - try again!</p>
    {% endif %}
  {% endif %}
{% endblock %}