{% extends "bank.html" %}

{% block bank_form %}
  <form action="/bank/accounts" method="POST">
    <div class="input-group">
      <label for="account_number">Account Number:</label>
      <input 
        type="text" 
        name="account_number" 
        placeholder="Account Number" 
        value="{{ prev_values.account_number if prev_values else '' }}">
    </div>
    <button class="pixel-box" type="submit">Search</button>
  </form>
  <div class="link-container">
      <a class="pixel-box" href="/map">Back to the map</a>
  </div>
  {% if data != None %}
    <table>
      <thead>
        <tr>
          <th>Account</th>
          <th>Created</th>
          <th>Owner</th>
          <th>Name</th>
          <th>Phone Number</th>
          <th>License Plate</th>
          <th>Passport Number</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ data.account_number }}</td>
          <td>{{ data.creation_year }}</td>
          <td>{{ data.person_id }}</td>
          <td>{{ data.people.name }}</td>
          <td>{{ data.people.phone_number }}</td>
          <td>{{ data.people.license_plate }}</td>
          <td>{{ data.people.passport_number }}</td>
          <td>
            <button 
              class="pixel-box icon-button"
              title="Add Person of Interest"
              onclick="addToClues(
                  'People of Interest: id | name | phone number | license plate | passport number',
                  '{{ data.person_id }} | {{ data.people.name }} | {{ data.people.phone_number }} | ' + 
                  '{{ data.people.license_plate }} | {{ data.people.passport_number }}'
              )">
            +</button>
          </td>
        </tr>
      </tbody>
    </table>
  {% else %}
    <p>No results found - try again!</p>
  {% endif %}
{% endblock %}