{% extends "bank.html.j2" %}
{% from "components/buttons.html.j2" import render_add_clue_button, render_back_button %}

{% block bank_form %}
  <form action="/bank" method="POST">
    {{ form.csrf_token }}
    <div class="input-group">
      {{ form.date.label }}
      {{ form.date(min="2024-07-26", max="2024-08-01", class="pixel-box") }}
      {% if form.date.errors %}
          <ul class="errors">
              {% for error in form.date.errors %}
                  <li>{{ error }}</li>
              {% endfor %}
          </ul>
      {% endif %}
    </div>
    <div class="input-group">
      {{ form.location.label }}
      {{ form.location(class="pixel-box", autocomplete="off") }}
      {% if form.location.errors %}
          <ul class="errors">
              {% for error in form.location.errors %}
                  <li>{{ error }}</li>
              {% endfor %}
          </ul>
      {% endif %}
    </div>
    <div class="input-group">
      {{ form.transaction.label }}
      {{ form.transaction(class="pixel-box") }}
      {% if form.transaction.errors %}
          <ul class="errors">
              {% for error in form.transaction.errors %}
                  <li>{{ error }}</li>
              {% endfor %}
          </ul>
      {% endif %}
    </div>
    <button class="pixel-box button-link" type="submit">Search</button>
  </form>
  {{render_back_button()}}
  {% if data != None %}
    {% if data|count > 0 %}
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Account</th>
            <th>Type</th>
            <th>Location</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
            {% for row in data %}
              <tr>
                <td>{{ row.date }}</td>
                <td>{{ row.account_number }}</td>
                <td>{{ row.transaction_type }}</td>
                <td>{{ row.atm_location }}</td>
                <td>{{ row.amount }}</td>
                <td>
                  {{render_add_clue_button(
                    "atm transactions",
                    row.date ~ " on " ~ row.atm_location ~ ": " ~ row.transaction_type ~ " of " ~ row.amount ~ " by " ~ row.account_number
                  )}}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p>No results found - try again!</p>
      {% endif %}
    {% endif %}
{% endblock %}