{% extends "telephone.html" %}

{% block telephone_form %}
  <form action="/telephone/book" method="POST">
    {{ form.csrf_token }}
    <div class="input-group">
      {{ form.search.label }}
      {{ form.search }}
      {% if form.search.errors %}
          <ul class="errors">
              {% for error in form.search.errors %}
                  <li>{{ error }}</li>
              {% endfor %}
          </ul>
      {% endif %}
    </div>
    <div class="input-group">
      {{ form.query.label }}
      {{ form.query }}
      {% if form.query.errors %}
          <ul class="errors">
              {% for error in form.query.errors %}
                  <li>{{ error }}</li>
              {% endfor %}
          </ul>
      {% endif %}
    </div>
    <button class="pixel-box" type="submit">Search Phone Book</button>
  </form>
  <div class="link-container">
    <a class="pixel-box" href="/map">Back to the map</a>
  </div>
  {% if data != None %}
    {% if data|count > 0 %}
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Phone Number</th>
          <th>License Plate</th>
          <th>Passport Number</th>
        </tr>
      </thead>
      <tbody>
        {% for row in data %}
          <tr>
            <td>{{ row.name }}</td>
            <td>{{ row.phone_number }}</td>
            <td>{{ row.license_plate }}</td>
            <td>{{ row.passport_number }}</td>
            <td>
              <button 
                class="pixel-box icon-button"
                title="Add Person of Interest"
                data-category="People of Interest"
                data-clue="name: {{ row.name }} | ph: {{ row.phone_number }} | license plate: {{ row.license_plate }} | passport: {{ row.passport_number }}"
                onclick="addToClues(this)">
              +</button>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
      <p>No results found - try again!</p>
    {% endif %}
  {% endif %}
{% endblock %}