{% extends "telephone.html" %}

{% block telephone_form %}
  <form action="/telephone/book" method="POST">
    <div class="input-group">
      <label for="search">Search:</label>
      <select name="search" id="search">
        <option value="name" 
          {% if prev_values and prev_values.search == 'name' %}
            selected
          {% endif %}
        >Name</option>
        <option value="phone_number" 
          {% if prev_values and prev_values.search == 'phone_number' %}
            selected
          {% endif %}
        >Phone Number</option>
      </select>
    </div>
    <input type="text" id="query" name="query" required
      value="{{ prev_values.query if prev_values else '' }}" >
    <button class="pixel-box" type="submit">Search Phone Book</button>
  </form>
  <div class="link-container">
    <a class="pixel-box" href="/map">Back to the map</a>
  </div>
  {% if data != None %}
    {% if data|count > 0 %}
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Phone Number</th>
          <th>License Plate</th>
          <th>Passport Number</th>
        </tr>
      </thead>
      <tbody>
        {% for row in data %}
          <tr>
            <td>{{ row.id }}</td>
            <td>{{ row.name }}</td>
            <td>{{ row.phone_number }}</td>
            <td>{{ row.license_plate }}</td>
            <td>{{ row.passport_number }}</td>
            <td>
              <button 
                class="pixel-box icon-button"
                title="Add Person of Interest"
                onclick="addToClues(
                    'People of Interest: id | name | phone number | license plate | passport number', 
                    '{{ row.id }} | {{ row.name }} | {{ row.phone_number }} | ' + 
                    '{{ row.license_plate }} | {{ row.passport_number }}'
                )">
              +</button>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
      <p>No results found - try again!</p>
    {% endif %}
  {% endif %}
{% endblock %}