{% extends "telephone.html.j2" %}
{% from "components/buttons.html.j2" import render_add_clue_button, render_back_button %}

{% block telephone_form %}
  <form action="/telephone" method="POST">
    {{ form.csrf_token }}
    <div class="input-group">
      {{ form.date.label }}
      {{ form.date(min="2024-07-25", max="2024-07-31", class="pixel-box") }}
      {% if form.date.errors %}
          <ul class="errors">
              {% for error in form.date.errors %}
                  <li>{{ error }}</li>
              {% endfor %}
          </ul>
      {% endif %}
    </div>
    <div class="input-group">
      {{ form.caller.label }}
      {{ form.caller(pattern="\\([0-9]{3}\\) [0-9]{3}-[0-9]{4}", autocomplete="off", class="pixel-box") }}
      {% if form.caller.errors %}
          <ul class="errors">
              {% for error in form.caller.errors %}
                  <li>{{ error }}</li>
              {% endfor %}
          </ul>
      {% endif %}
    </div>
    <div class="input-group">
      {{ form.receiver.label }}
      {{ form.receiver(pattern="\\([0-9]{3}\\) [0-9]{3}-[0-9]{4}", autocomplete="off", class="pixel-box") }}
      {% if form.receiver.errors %}
          <ul class="errors">
              {% for error in form.receiver.errors %}
                  <li>{{ error }}</li>
              {% endfor %}
          </ul>
      {% endif %}
    </div>
    <button class="pixel-box button-link" type="submit">View Phone Records</button>
  </form>
  {{render_back_button()}}
  {% if data != None %}
    {% if data|count > 0 %}
      <h2>Call Records:</h2>
      <table>
        <tr>
          <th>Date</th>
          <th>Caller</th>
          <th>Receiver</th>
          <th>Duration (seconds)</th>
        </tr>
        {% for row in data %}
        <tr>
          <td>{{ row.date }}</td>
          <td>{{ row.caller }}</td>
          <td>{{ row.receiver }}</td>
          <td>{{ row.duration }}</td>
          <td>
            {{render_add_clue_button(
              "phone calls",
              row.caller ~ " called " ~ row.receiver ~ " on " ~ row.date ~ " for " ~ row.duration ~ " seconds"
            )}}
          </td>
        </tr>
        {% endfor %}
      </table>
    {% else %}
      <p>No call records found.</p>
    {% endif %}
  {% endif %}

{% endblock %}