{% extends "airport.html" %}


{% block airport_form %}
  <form action="/airport/lookup" method="POST">
    {{ form.csrf_token }}
    <div class="input-group">
      {{ form.table.label }}
      {{ form.table }}
      {% if form.table.errors %}
          <ul class="errors">
              {% for error in form.table.errors %}
                  <li>{{ error }}</li>
              {% endfor %}
          </ul>
      {% endif %}
    </div>
    <div class="input-group">
      <label for="string">
        {% if form.table.data == "passport" %}
          Passport Number:
        {% else %}
          Flight Number:
        {% endif %}
      </label>
      {{ form.string(placeholder=("Passport Number" if form.table.data == "passport" else "Flight Number")) }}
      {% if form.string.errors %}
          <ul class="errors">
              {% for error in form.string.errors %}
                  <li>{{ error }}</li>
              {% endfor %}
          </ul>
      {% endif %}
    </div>
    <button type="submit" class="pixel-box">Search</button>
  </form>
  <div class="link-container">
    <a class="pixel-box" href="/map">Back to the map</a>
  </div>
  {% block airport_lookup_result %}{% endblock %}
  <script src="{{ url_for('static', filename='js/airport.js') }}"></script>
{% endblock %}