{% extends "airport.html" %}


{% block airport_form %}
  <form action="/airport" method="POST">
    {{ form.csrf_token }}
    <div class="input-group">
      {{ form.date.label }}
      {{ form.date(min="2024-07-26", max="2024-07-30") }}
      {% if form.date.errors %}
          <ul class="errors">
              {% for error in form.date.errors %}
                  <li>{{ error }}</li>
              {% endfor %}
          </ul>
      {% endif %}
    </div>
    <div class="input-group">
      {{ form.origin.label }}
      {{ form.origin }}
      {% if form.origin.errors %}
          <ul class="errors">
              {% for error in form.origin.errors %}
                  <li>{{ error }}</li>
              {% endfor %}
          </ul>
      {% endif %}
    </div>
    <div class="input-group">
      {{ form.destination.label }}
      {{ form.destination }}
      {% if form.destination.errors %}
          <ul class="errors">
              {% for error in form.destination.errors %}
                  <li>{{ error }}</li>
              {% endfor %}
          </ul>
      {% endif %}
    </div>
    <button type="submit" class="pixel-box">Search</button>
  </form>
  <div class="link-container">
    <a class="pixel-box" href="/map">Back to the map</a>
  </div>
  {% if data != None %}
    {% if data|length != 0 %}
    <div class="results">
      <h2>Flights</h2>
      <table>
        <thead>
          <tr>
            <th>Flight ID</th>
            <th>Date</th>
            <th>Time</th>
            <th>Origin Airport</th>
            <th>Destination Airport</th>
          </tr>
        </thead>
        <tbody>
          {% for flight in data %}
            <tr>
              <td>{{ flight.id }}</td>
              <td>{{ flight.date }}</td>
              <td>{{ flight.time }}</td>
              <td>{{ flight.origin_airport_id.city }} ({{ flight.origin_airport_id.abbreviation }})</td>
              <td>{{ flight.destination_airport_id.city }} ({{ flight.destination_airport_id.abbreviation }})</td>
              <td>
                <button class="pixel-box icon-button"
                  title="Save clue"
                  data-category="flights"
                  data-clue="{{ flight.date }} @ {{ flight.time }}: Flight number {{ flight.id }} from {{ flight.origin_airport_id.abbreviation }} to {{ flight.destination_airport_id.abbreviation }}"
                  onclick="addToClues(this)">
                +</button>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <div class="results">
      <h2>No flights found matching your criteria.</h2>
    </div>
    {% endif %}
  {% endif %}
{% endblock %}
