{% extends "airport.html.j2" %}
{% from "components/buttons.html.j2" import render_add_clue_button, render_back_button %}


{% block airport_form %}
  <form action="/airport" method="POST">
    {{ form.csrf_token }}
    <div class="input-group">
      {{ form.date.label }}
      {{ form.date(min="2024-07-26", max="2024-07-30", class="pixel-box") }}
      {% if form.date.errors %}
          <ul class="errors">
              {% for error in form.date.errors %}
                  <li>{{ error }}</li>
              {% endfor %}
          </ul>
      {% endif %}
    </div>
    <div class="input-group">
      {{ form.origin.label }}
      {{ form.origin(class="pixel-box") }}
      {% if form.origin.errors %}
          <ul class="errors">
              {% for error in form.origin.errors %}
                  <li>{{ error }}</li>
              {% endfor %}
          </ul>
      {% endif %}
    </div>
    <div class="input-group">
      {{ form.destination.label }}
      {{ form.destination(class="pixel-box") }}
      {% if form.destination.errors %}
          <ul class="errors">
              {% for error in form.destination.errors %}
                  <li>{{ error }}</li>
              {% endfor %}
          </ul>
      {% endif %}
    </div>
    <button type="submit" class="pixel-box button-link">Search</button>
  </form>
  {{render_back_button()}}
  {% if data != None %}
    {% if data|length != 0 %}
    <div class="results">
      <h2>Flights</h2>
      <table>
        <thead>
          <tr>
            <th>Flight ID</th>
            <th>Date</th>
            <th>Time</th>
            <th>Origin Airport</th>
            <th>Destination Airport</th>
          </tr>
        </thead>
        <tbody>
          {% for flight in data %}
            <tr>
              <td>{{ flight.id }}</td>
              <td>{{ flight.date }}</td>
              <td>{{ flight.time }}</td>
              <td>{{ flight.origin_airport_id.city }} ({{ flight.origin_airport_id.abbreviation }})</td>
              <td>{{ flight.destination_airport_id.city }} ({{ flight.destination_airport_id.abbreviation }})</td>
              <td>
                {{render_add_clue_button(
                  "flights",
                  flight.date ~ " @ " ~ flight.time ~ ": Flight number " ~ flight.id ~ " from " ~ 
                    flight.origin_airport_id.abbreviation ~ " to " ~ flight.destination_airport_id.abbreviation
                )}}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <div class="results">
      <h2>No flights found matching your criteria.</h2>
    </div>
    {% endif %}
  {% endif %}
{% endblock %}
