{% extends "clues_wrapper.html" %}

{% block title %}
    Emma's Bakery
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ url_for('static',filename='style/page.css') }}">
{% endblock %}

{% block content %}
  <h1>Emma's Bakery</h1>

  <div class="page-container">
    <h2>What can we get for you today? 🥐☕</h2>
    <p>Oh, our security tapes are over there. Please, search for what you need.</p>
    <form action="/bakery" method="POST">
      {{ form.csrf_token }}
      <div class="input-group">
        {{ form.date.label }}
        {{ form.date(min="2024-07-25", max="2024-07-31") }}
        {% if form.date.errors %}
            <ul class="errors">
                {% for error in form.date.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
      </div>
      <div class="input-group">
        {{ form.from_field.label }}
        {{ form.from_field }}
        {% if form.from_field.errors %}
            <ul class="errors">
                {% for error in form.from_field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
      </div>
      <div class="input-group">
        {{ form.to_field.label }}
        {{ form.to_field }}
        {% if form.to_field.errors %}
            <ul class="errors">
                {% for error in form.to_field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
      </div>
      <button class="pixel-box" type="submit">Search</button>
    </form>
    <div class="link-container">
        <a class="pixel-box" href="/map">Back to the map</a>
    </div>
    {% if data != None %}
      {% if data|count > 0 %}
        <table>
          <thead>
            <tr>
              <th>Date/Time</th>
              <th>Activity</th>
              <th>License Plate</th>
            </tr>
          </thead>
          <tbody>
            {% for row in data %}
              <tr>
                <td>
                  {{ row.date }} @ {{ row.time }}
                </td>
                <td>{{ row.activity }}</td>
                <td>{{ row.license_plate }}</td>
                <td>
                  <button 
                    class="pixel-box icon-button"
                    title="Save clue"
                    data-category="bakery security logs"
                    data-clue="{{ row.date }} @ {{ row.time }}: {{ row.activity }} by {{ row.license_plate }}"
                    onclick="addToClues(this)">
                  +</button>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p>No results found - try again!</p>
      {% endif %}
    {% endif %}
  </div>
{% endblock %}