{% extends "layout.html" %}

{% block body %}
    {% block content %}{% endblock %}
    <div class="clue-control pixel-box" id="clue-control">clues</div>
    <div class="model-container fullscreen-center hidden" id="clue-model">
        <div class="pixel-box model-body">
            <div class="material-icons close-model" id="close-model">close</div>
            <h1>Clues 🔎</h1>
            <div class="model-content">
                <ul id="clue-list">
                    <li class="pixel-box">
                        <div class="text-left">
                            The theft took place on July 28, 2024 and that it took place on Humphrey Street.
                            Maybe start by checking for reports in the police station?
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script src="../static/js/index.js"></script>
{% endblock %}