{% extends "layout.html.j2" %}

{% block body %}
    {% block content %}{% endblock %}
    <button class="clue-control pixel-box button-link" id="clue-control">
        <img src="{{ url_for('static', filename='assets/icon-search.png') }}" alt="A pixel magnifying glass icon">
        clues
    </button>
    <div class="model-container fullscreen-center hidden" id="clue-model">
        <div class="pixel-box model-body">
            <button class="material-icons close-model pixel-box button-icon" id="close-model">close</button>
            <h1>Clues 🔎</h1>
            <div class="model-content">
                <div id="db-clues">
                    <ul>
                        <li class="pixel-box">
                            <div class="text-left">
                                The theft took place on July 28, 2024 on Humphrey Street.
                                Maybe start by checking for reports in the police station?
                            </div>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2><label for="user-notes">Notes:</label></h2>
                    <textarea 
                        id="user-notes" 
                        placeholder="Put any additional notes here...."
                        class="pixel-box"></textarea>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}