{% extends "layout.html" %}

{% block title %}
    Ducknapped!
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ url_for('static',filename='style/index.css') }}">
{% endblock %}

{% block body %}

    <div class="fullscreen-center">
        <div class="spacing">
            <div class="pixel-box">
                <h1>The CS50 duck has been kidnapped!</h1>
                <img 
                    src="{{url_for('static', filename='/assets/cs50-duck.png')}}" 
                    alt="The cartoon yellow rubber duck mascot of CS50"
                >
                <p>
                    The CS50 Duck has been stolen! 
                    Authorities believe that the thief stole the duck and then, shortly afterwards, 
                    took a flight out of town with the help of an accomplice. Your goal is to identify:
                </p>
                <ol class="find-list">
                    <li>The thief</li>
                    <li>The city the thief escaped to</li>
                    <li>The thief's accomplice</li>
                </ol>
                <p>
                    All you know is that the theft took place on 
                    <b>July 28, 2024 </b> on <b>Humphrey Street</b>.
                </p>
                <div class="link-container">
                    <a class="pixel-box button-link" href="/map">Let's go!</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}