{% extends "clues_wrapper.html" %}

{% block title %}
    Map
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ url_for('static',filename='style/map.css') }}">
{% endblock %}

{% block content %}
    <div class="map-grid">
        <div class="left">
            <a href="/police-station">
                <img 
                    src="{{url_for('static', filename='/assets/police-station.png')}}" 
                    alt="A pixel-art police station building">
            </a>
        </div>
        <div class="road"></div>
        <div class="right">
            <img 
                src="{{url_for('static', filename='/assets/bakery.png')}}" 
                alt="A pixel-art bakery building with carpark">
        </div>
    </div>
{% endblock %}