{% extends "clues_wrapper.html.j2" %}

{% block title %}
    Map
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ url_for('static',filename='style/map.css') }}">
{% endblock %}

{% block content %}
    <div class="page-container">
        <h1>Time to start your investigation!</h1>
        <p>
            Visit locations to gather information. As you uncover clues, you can save them into your clue bank, accessible by
            clicking the button at the bottom right of the page. 
            <br>When you think you have found the culprit, report them <a href="/report">here</a>!
        </p>
        <div class="map-container">
            <a href="/police-station">
                <img 
                    src="{{url_for('static', filename='/assets/police-station.png')}}" 
                    alt="A pixel-art police station building">
            </a>

            <a href="/bakery">
                <img 
                    src="{{url_for('static', filename='/assets/bakery.png')}}" 
                    alt="A pixel-art bakery building with carpark">
            </a>

            <a href="/bank">
                <img 
                    src="{{url_for('static', filename='/assets/bank.png')}}" 
                    alt="A pixel-art bank building with two security guards">
            </a>

            <a href="/telephone">
                <img 
                    src="{{url_for('static', filename='/assets/telephone.png')}}" 
                    alt="A pixel-art building with satellite dishes on the roof, it is the telephone company">
            </a>

            <a href="/airport">
                <img 
                    src="{{url_for('static', filename='/assets/airport.png')}}" 
                    alt="A pixel-art airport building with a aeroplanes visible outside">
            </a>
        </div>
    </div>
{% endblock %}