{% extends "clues_wrapper.html" %}

{% block title %}
    Map
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ url_for('static',filename='style/map.css') }}">
{% endblock %}

{% block content %}
    <div class="page-container">
        <h1>Time to start your investigation!</h1>
        <p>
            Visit locations to gather information. As you uncover clues, you can save them into your clue bank, accessible by
            clicking the button at the bottom left of the page.
        </p>
        <div class="map-container">
            <a href="/police-station">
                <img 
                    src="{{url_for('static', filename='/assets/police-station.png')}}" 
                    alt="A pixel-art police station building">
            </a>

            <a href="/bakery">
                <img 
                    src="{{url_for('static', filename='/assets/bakery.png')}}" 
                    alt="A pixel-art bakery building with carpark">
            </a>

            <a href="/bank">
                <img 
                    src="{{url_for('static', filename='/assets/bank.png')}}" 
                    alt="A pixel-art bank building with two security guards">
            </a>

            <img 
                src="{{url_for('static', filename='/assets/gym.png')}}" 
                alt="A pixel-art Gym with people working out visible through the windows">
        </div>
    </div>
{% endblock %}