{% extends "clues-wrapper.html" %}

{% block title %}
    Police Station
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ url_for('static',filename='style/police-station.css') }}">
{% endblock %}

{% block content %}
    <h1>Police Station</h1>
    <div class="page-container">
        <div>
            <h2>Search reports:</h2>
            <form action="/get-reports" method="POST">
                <div class="input-group">
                    <label for="report-date">Date:</label>
                    <input id="report-date" name="date" type="date" max="2024-08-01" min="2024-01-01" value="{{ prev_values['date'] if prev_values else '' }}">
                </div>
                <div class="input-group">
                    <label for="report-street">Street:</label>
                    <input name="street" type="text" placeholder="Street" value="{{ prev_values['street'] if prev_values else '' }}">
                </div>
                <button type="submit">search</button>
            </form>
        </div>
        <div>
            <h2>Search interviews:</h2>
        </div>
        <div>
            {% if data != None %}
                <table>
                    <thead>
                        <tr>
                            <th>date</th>
                            <th>street</th>
                            <th>description</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if data|count > 0 %}
                            {% for row in data %}
                                <tr>
                                    <td>{{ row.year }}-{{ row.month }}-{{ row.day }}</td>
                                    <td>{{ row.street }}</td>
                                    <td>{{ row.description }}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td align="center" colspan="3">No results, try again!</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            {% endif %}
        </div>
        <div></div>
    </div>
{% endblock %}