{% extends "clues_wrapper.html" %}

{% block title %}
    Police Station
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ url_for('static',filename='style/page.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='style/police-station.css') }}">
{% endblock %}

{% block content %}
    <h1>Police Station</h1>
    <div class="page-container">
        <h2>How can we help you today? 👮‍♀️</h2>
        <form action="/police-station" method="POST">
            <div class="input-group">
                <label for="table">Search:</label>
                <select name="table" id="table">
                    <option value="reports">Police Reports</option>
                    <option value="interviews"
                        {% if prev_values and prev_values.table == 'interviews' %} 
                            selected="selected"
                        {% endif %}
                    >Police Interviews</option>
                    <option value="lp_lookup"
                        {% if prev_values and prev_values.table == 'lp_lookup' %} 
                            selected="selected"
                        {% endif %}
                    >License Plate Lookup</option>
                </select>
            </div>
            <div 
                id="date-input" 
                class="input-group {{ 'hidden' if prev_values.table == 'lp_lookup' else '' }}">
                <label for="date">Date:</label>
                <input 
                    id="date" 
                    name="date" 
                    type="date" 
                    max="2024-08-01" 
                    min="2024-01-01" 
                    value="{{ prev_values['date'] if prev_values else '' }}">
            </div>
            <div class="input-group">
                <label for="string">
                    {% if prev_values and prev_values.table == "interviews" %}
                        Keyword:
                    {% elif prev_values and prev_values.table == "lp_lookup" %}
                        License Plate:
                    {% else %}
                        Street:
                    {% endif %}
                </label>
                <input 
                    id="string"
                    name="string" 
                    type="text" 
                    placeholder="{{ 'Keyword' if prev_values.table == 'interviews' else 'Street' }}" 
                    value="{{ prev_values['string'] if prev_values else '' }}">
            </div>
            <button class="pixel-box" type="submit">Search</button>
        </form>
        <div class="link-container">
            <a class="pixel-box" href="/map">Back to the map</a>
        </div>
        {% block police_station_results %}{% endblock %}
    </div>
    <script src="{{ url_for('static', filename='js/police_station.js') }}"></script>
{% endblock %}