{% extends "clues_wrapper.html.j2" %}
{% from "components/buttons.html.j2" import render_back_button %}

{% block title %}
    Report
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ url_for('static',filename='style/page.css') }}">
{% endblock %}

{% block content %}
  <h1>Make your report</h1>

  <div class="page-container">
    <h2>🕵️🕵️‍♀️</h2>
    <p>
      You've found the culprit! We'll need to double check, so give us the thief's name, 
      the city they escaped to, and the name of their accomplice.
    </p>
    <form action="/report" method="POST">
      {{ form.csrf_token }}
      <div class="input-group">
        {{ form.thief_name.label }}
        {{ form.thief_name(placeholder="Thief Name", autocomplete="off", class="pixel-box") }}
        {% if form.thief_name.errors %}
            <ul class="errors">
                {% for error in form.thief_name.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
      </div>
      <div class="input-group">
        {{ form.city.label }}
        {{ form.city(placeholder="City", autocomplete="off", class="pixel-box") }}
        {% if form.city.errors %}
            <ul class="errors">
                {% for error in form.city.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
      </div>
      <div class="input-group">
        {{ form.accomplice.label }}
        {{ form.accomplice(placeholder="Accomplice Name", autocomplete="off", class="pixel-box") }}
        {% if form.accomplice.errors %}
            <ul class="errors">
                {% for error in form.accomplice.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
      </div>
      <button class="pixel-box" type="submit">Submit Report</button>
    </form>
    {{render_back_button()}}
    {% if data != None %}
      <h1>{{ data.message }}</h1>
      {% if data.won %}
        <script>
          localStorage.setItem("won", "true")
        </script>
      {% endif %}
    {% endif %}
  </div>
  <script src="{{ url_for('static', filename='js/report.js') }}"></script>
{% endblock %}