body {
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

button {
    cursor: pointer;
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.pixel-box {
    color: black;
    text-align: center;
    border-style: solid;
    border-width: .125em 0;
    margin: 0 .25em;
    padding: .5em .375em;
    position: relative;
    z-index: 1;

    &:before {
        background-color: white;
        border: black solid;
        border-width: 0 .125em;
        bottom: .125em;
        content: '';
        left: -.25em;
        pointer-events: none;
        position: absolute;
        top: .125em;
        right: -.25em;
        z-index: -1;
    }

    &:after {
        border: black solid;
        border-width: 0 .125em;
        bottom: 0;
        content: '';
        left: -.125em;
        position: absolute;
        top: 0;
        right: -.125em;
        z-index: -2;
    }
}

.fullscreen-center {
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-container {
    padding-bottom: 2em;
    padding-top: 1em;
    display: flex;
    justify-content: center;
}

.clue-control {
    cursor: pointer;
    position: fixed;
    bottom: 1em;
    right: 1em;
}

.model-container {
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    z-index: 3;
}

.model-body {
    min-width: 80vw;
    width: 90vw;
    max-width: 1000px;
    height: 90dvh;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.close-model {
    cursor: pointer;
    align-self: flex-end;
}

.model-content {
    overflow-y: auto;
    overscroll-behavior-y: contain;
    flex-grow: 1;
    text-align: left;
    margin-top: 1em;
}

.model-content ul {
    padding: 0;
}

.model-content li {
    list-style: none;
}

.list-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.list-item button {
    align-self: flex-end;
}

.list-item p {
    text-align: left;
    margin: 0;
}

.hidden {
    display: none;
}

.spacing {
    width: 90%;
    max-width: 800px;
    padding: 5em 5em;
}

.icon-button {
    width: 1.5rem;
}

textarea {
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 70vw;
    height: 200px;
}

@media (max-width: 600px) {
    .model-body {
        /* max-width: 90vw; */
        /* min-width: 90vw; */
        padding: 0.5em;
    }
    
    ul {
        padding-inline-start: 20px;
    }
}

@media (hover: hover) {
    .clue-control, .link-container, button {
        transition: transform 0.3s;
    }

    .clue-control:hover, .link-container:hover, button:hover {
        transform: scale(1.05);
        transition: transform 0.3s;
    }
}
