.map-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-areas: 
        "left road right";
}

.road {
    grid-area: road;
    background-color: #A9A9A9;
    border-left: 2px solid black;
    border-right: 2px solid black;
    height: 100vh;
}

.left, .right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left img {
    max-width: 60%;
}

.right img {
    max-width: 80%;
}