h1 {
    text-align: center;
}

.page-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-container > div {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 0 1em;
    padding: 1em;
}

.page-container li {
    list-style: none;
}

form {
    display: flex;
    align-items: flex-end;
    gap: 1em;
    margin-bottom: 1em;
}

button {
    cursor: pointer;
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
}

ul, h3 {
    margin: 0;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.list-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.list-item button {
    align-self: flex-end;
}

.list-item p {
    text-align: left;
    margin-top: 0;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    padding: 1em;
}

@media screen and (max-width: 800px) {
    form {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 400px) {
    form {
        display: grid;
        grid-template-columns: auto;
    }
}


@media (hover: hover) {
    button {
        transition: transform 0.3s;
    }

    button:hover {
        transform: scale(1.05);
        transition: transform 0.3s;
    }
}