.page-container > div {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-left: 1em;
    margin-right: 1em;
    padding: 1em;
}

.page-container li {
    list-style: none;
}

.extend-bottom {
    padding-bottom: 2em;
}

.hidden {
    visibility: hidden;
}
