h1 {
    text-align: center;
}

.page-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}

.page-container > div {
    display: flex;
    flex-direction: column;
    gap: 1em;
    border: solid black 1px;
    margin: 0 1em;
    padding: 1em;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    align-items: flex-end;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    padding: 1em;
}

@media screen and (max-width: 800px) {
    .page-container {
        grid-template-columns: auto;
    }
}